# Ignore Python cache files
__pycache__/
*.pyc

# Ignore contents of backup and data folders, but not the folders themselves
backup/*
!backup/
data/*
!data/

.env

# anything with "dev" in the name, like data_saved_dev.yaml or config_dev.yaml
*dev*.yaml
